* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #92a8d1;
  background-image: linear-gradient(315deg, #92a8d1 0%, #31466d, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.quiz-container {
  background-color: white;
  box-shadow: 0 0 10px 2px rgba(90, 90, 90, 0.2);
  border-radius: 10px;
}
